.header-dark {
  background-image: linear-gradient(rgba(24, 25, 31, 0.5),rgba(24, 25, 31, 0.5)) , url('../../asset/img/header.jpg');
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 80px;
  height: 720px;
  width: 100vw;
  border-radius: 0 0 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width:768px) {
  .header-dark {
    padding-bottom: 120px;
  }
}

.header-dark .navbar {
  background: transparent;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

@media (min-width:768px) {
  .header-dark .navbar {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}