.header-company {
  background-image: linear-gradient(rgba(24, 25, 31, 0.5),rgba(24, 25, 31, 0.5)) , url('../../asset/img/Company/EderaJumbo.png');
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 80px;
  height: 100vh;
  border-radius: 0 0 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .company-head-left {
    margin-bottom: 20px;
  }
}