.leftquote-content {
  padding-left: 100px;
}

@media screen and (max-width: 991px) {
  .leftquote-container {
    flex-direction: column-reverse;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .leftquote-content div {
    text-align: center;
    margin-top: 20px;
  }

  .leftquote-content p {
    text-align: center;
    margin-top: 20px;
  }

  .leftquote-content {
    padding-left: 0;
  }
}