.latar-belakang-container {
  display: flex;
}

.latar-belakang-img {
  width: 400px;
  background-color: black;
  border-radius: 0 50px 50px 0;
}

.latar-belakang-content {
  padding-left: 72px;
  padding-right: 72px;
}