.milestone-container {
  position: relative;
}

.milestone-april-content {
  min-height: 420px;
  padding-left: 350px;
  padding-right: 350px;
}

.milestone-july-container {
  display: flex;
}
.milestone-july-content-left {
  width: 100%;
}
.milestone-july-content-left-box {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.milestone-july-content-right-box {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.milestone-july-content-right {
  width: 100%;
}
.milestone-july-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.milestone-july-img-box {
  width: 600px;
  height: 400px;
  background-color: black;
  border-radius: 50px;
}

.milestone-july-content-small {
  display: flex;
}
.milestone-july-content-left-small {
  margin-top: 10px;
  width: 50%;
}
.milestone-july-content-right-small {
  margin-top: 10px;
  width: 50%;
}

@media only screen and (min-width: 769px) {
  .milestone-april-small {
    display: none;
  }
  .milestone-april-normal {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .milestone-april-content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .milestone-april-small {
    display: block;
  }
  .milestone-april-normal {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .milestone-july-container {
    display: block;
  }
}