.green-section {
  border-radius: 100px 100px 0 0;
  padding-bottom: 50px;
  background: url('../asset/img/pattern-three.svg') left top no-repeat, url('../asset/img/pattern-four.svg') right bottom no-repeat;
}