.structure-container-one {
  // padding-bottom: 200px;
  // background-color: green;
  background-image: url('../asset/img/pattern_one.png');
  background-repeat: no-repeat;
}
.structure-container-two {
  background-image: url('../asset/img/pattern_two.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: contain;
}