.structure-container-one {
  background-image: url('../asset/img/pattern_one.svg');
  background-repeat: no-repeat;
}
.structure-container-two {
  background-image: url('../asset/img/pattern_two.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: contain;
}