.chairman-vice-small {
  padding: 2px 5px;

  .chairman-vice-small-img {
    border-radius: 20px;
    width: 296px;
    height: 480px;
  }
}

.vice-chairman-name {
  p {
    text-align: left;
  }
}

.chairman-name {
  p {
    text-align: right;
  }
}

.name-small {
  width: 296px;
  
  p {
    text-align: center;
  }
}