// .head-container {
//   display: flex;
//   justify-content: center;
// }

// .chairman-img, .vice-chairman-img {
//   width: 296px;
//   height: 480px;
//   background-color: green;
// }
// .chairman-img {
//   margin-right: 2px;
//   border-radius: 50px 0 0 50px;
// }
// .vice-chairman-img {
//   margin-left: 2px;
//   border-radius: 0 50px 50px 0;
// }

.chairman-vice-small {
  // width: 296px;
  // height: 480px;
  // background-color: green;
  padding: 2px 5px;
  // border: 2px solid black;

  .chairman-vice-small-img {
    border-radius: 20px;
    width: 296px;
    height: 480px;
    // background-color: green;
  }
}

.vice-chairman-name {
  p {
    text-align: left;
  }
}

.chairman-name {
  p {
    text-align: right;
  }
}

.name-small {
  width: 296px;
  
  p {
    text-align: center;
  }
}