.header-dark-structure {
  background: url('../../asset/img/mountain_bg.jpg') #444;
  background-size: cover;
  padding-bottom: 80px;
  height: 720px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

@media (min-width:768px) {
  .header-dark-structure {
    padding-bottom: 120px;
  }
}