.head-member {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.other-member {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.member-card {
  // padding: 2px 5px;
  width: 180px;
  // border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // margin-bottom: 80px;
  margin: 0 1px 80px 1px;

  // .member-card-img {
  //   width: 180px;
  //   height: 240px;
  //   background-color: black;
  //   border-radius: 20px;
  // }
}

.line-split {
  border-right: 2px solid black;
}

@media only screen and (max-width: 768px) {
  .head-member {
    justify-content: center;
  }
  .other-member {
    justify-content: center;
    // flex-wrap: wrap;
  }
  .member-card {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .line-split {
    border: none;
  }
}


