.head-member {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.other-member {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.member-card {
  width: 150px;
  height: 180px;
  background-color: black;
  border-radius: 20px;
  // margin: 0;
}

@media only screen and (max-width: 768px) {
  .head-member {
    justify-content: center;
  }
  .other-member {
    justify-content: center;
    // flex-wrap: wrap;
  }
  .member-card {
    margin: 0 10px;
  }
}