.head-member {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.other-member {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.member-card {
  width: 180px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 1px 80px 1px;
}

.line-split {
  border-right: 2px solid black;
}

@media only screen and (max-width: 768px) {
  .head-member {
    justify-content: center;
  }
  .other-member {
    justify-content: center;
  }
  .member-card {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .line-split {
    border: none;
  }
}


