// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
* {
  font-family: 'Work Sans', sans-serif !important;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: hidden; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.heading-underline {
  border-bottom: 2px solid black;
  display: inline-block;
}

.heading-one {
  // font-weight: 1000 !important; // bolder
  // font-weight: bold;
  // font-size: 54px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 72px;
  /* identical to box height, or 133% */

  letter-spacing: 1px;
}
.heading-two {
  // font-weight: 700 !important; // bold
  // font-size: 32px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  letter-spacing: 1px;
}
.heading-three {
  // font-weight: 700 !important; // bold
  // font-size: 48px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  letter-spacing: 1px;
}
.lead-one {
  // font-weight: 300 !important; // regular
  // font-size: 24px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */
}
.lead-two {
  // font-weight: 200 !important; // medium
  // font-size: 24px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */
}
.lead-three {
  // font-weight: 200 !important;
  // font-size: 28px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
}
.lead-four {
  // font-weight: 300 !important;
  // font-size: 28px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
}
.lead-five {
  // font-weight: 200 !important; // medium
  // font-size: 32px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
}
.body-one {
  // font-weight: 300 !important;
  // font-size: 20px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
}
.body-two {
  // font-weight: 200 !important;
  // font-size: 20px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */
}
.body-five {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
}
.body-six {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */
}
.title-one {
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
}


$emerald-green-100 : #5DD068;
$emerald-green-50 : #9EE3A4;
$tangerine-orange-100 : #ED8D03;
$tangerine-orange-50 : #F6C681;
$text-color : #27272D;
$text-color-white : #E9E9E9;
$emerald-green-20 : #DFF6E1;
$tangerine-orange-20 : #FBE8CD;

// Text color
.emerald-green-100 {
  color: $emerald-green-100 !important
}
.emerald-green-50 {
  color: $emerald-green-50 !important
}
.tangerine-orange-100 {
  color: $tangerine-orange-100 !important
}
.tangerine-orange-50 {
  color: $tangerine-orange-50 !important
}
.text-color {
  color: $text-color !important
}
.text-color-white {
  color: $text-color-white !important;
}
.emerald-green-20 {
  color: $emerald-green-20 !important
}
.tangerine-orange-20 {
  color: tangerine-orange-20 !important
}

// Background color
.bg-emerald-green-100 {
  background-color: $emerald-green-100 !important
}
.bg-emerald-green-50 {
  background-color: $emerald-green-50 !important
}
.bg-tangerine-orange-100 {
  background-color: $tangerine-orange-100 !important
}
.bg-tangerine-orange-50 {
  background-color: $tangerine-orange-50 !important
}
.bg-text-color {
  background-color: $text-color !important
}
.bg-text-color-white {
  background-color: $text-color-white !important
}
.bg-emerald-green-20 {
  background-color: $emerald-green-20 !important
}
.bg-tangerine-orange-20 {
  background-color: $tangerine-orange-20 !important
}

@media screen and (max-width: 576px) {
  .heading-one {
    font-size: 48px;
  }
}