.form-apply-container {
  width: 100%;
  // background-color: black;
  border-radius: 100px 100px 0 0;
  padding-top: 65px;
}

.form-input {
  // border: 2px solid black;
  padding: 0 100px;

  input[type='text'], input[type='email'] {
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 25px;
    height: 54px;
  }

  .dropdown-input {
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 25px;
    height: 54px;
  }
}

.btn-submit {
  width: 280px;
  height: 80px;
  border-radius: 20px;
  color: black;
}

.btn-submit:hover {
  color: white !important;
}

.green-section {
  border-radius: 100px 100px 0 0;
  padding-bottom: 50px;
  background: url('../../asset/img/pattern-three.png') left top no-repeat, url('../../asset/img/pattern-four.png') right bottom no-repeat;
}

@media only screen and (max-width: 768px) {
  .form-input {
    padding: 0 10px;
  }
}