.role-card-container {
  width: 200px;
  margin: 0 8px 40px 8px;
}

.role-card-img-box {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.role-card-img-box:hover {
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.082);
}

.role-title {
  p {
    text-align: center;
  }
}